body {
  margin: 0;
  font-family: Montserrat;
}

section {
  width: 1440px;
}

.header {
  height: 100vh;

  background-image: url(../img/header-photo-monohrome.jpg);
  background-position: top right;
  background-size: 1090px 100vh;
  background-repeat: no-repeat;

  background-color: #5F15FD;
}

/* Для лечения выпадения верхнего марджина */
.header::before {
  content: "";
  overflow: hidden;
  display: block;
}

.header__heading,
.about__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  align-items: center;
}

.header__heading {
  width: 790px;
  height: 264px;

  position: relative;
  top: 400px;
  left: 150px;

  text-align: left;
  color: #FFFFFF;
}

.about {
  height: auto;
}

.about__heading {
  margin: 0 0;
  text-align: center;
}

.about__me-info {
  height: 370px;

  padding-top: 30px;

  color: #5F15FD;
  background-color: #FFFFFF;
}

.about__text-wrapper {
  width: 1256px;

  margin-top: 50px;
  margin: 50px auto 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__text {
  width: 578px;

  font-size: 24px;
  line-height: 29px;

  color: #363636;
}

.about__ed-info {
  padding-top: 30px;
  padding-bottom: 112px;

  box-sizing: border-box;

  color: #FFFFFF;

  background-image: url(../img/about-bg-monohrome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about__ed-text {
  width: 856px;
  height: auto;

  margin: 50px auto 0;

  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #FFFFFF;
}

.about__degree {
  font-size: 48px;
  line-height: 59px;
}

@media (max-width: 480px) {
  section {
    width: 320px;
  }

  .header {
    height: 640px;

    background-image: url(../img/header-photo-monohrome-phone.png);
    background-position: center;
    background-size: 320px 640px;
  }

  .header__heading {
    width: 255px;
    height: 90px;

    left: 35px;
    top: 65px;


    font-size: 24px;
    line-height: 29px;
  }

  .about__me-info {
    height: 310px;

    padding-top: 20px;
    padding-bottom: 80px;
  }

  .about__heading {
    font-size: 36px;
    line-height: 44px;
  }

  .about__text-wrapper {
    width: 260px;
    height: 250px;

    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about__text {
    width: 260px;

    font-size: 14px;
    line-height: 17px;

    margin: 0 0;

    text-align: center;
  }

  .about__ed-info {
    height: 410px;

    background-image: url(../img/about-bg-monohrome-phone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .about__ed-text {
    width: 230px;
    height: 50px;
    margin: 74px auto 0;

    font-size: 14px;
    line-height: 17px;
  }

  .about__degree {
    margin-top: 40px;

    font-size: 24px;
    line-height: 29px;
  }
}