@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

:root {
  --screen-size: 1920
}

.body {
  margin: 0;
  padding: 0 ;

  font-family: Roboto;
}

.video-wrapper {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}

.main-header {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: auto;
}

.main-header__social-icons {
  width: 100%;
  height: 40px;
}

.social-icons__item {
  margin-right: 8px;

  text-decoration: none;
}

.social-icons__item:hover {
  opacity: 0.7;
}

.main-header__my-name {
  margin-top: 0;

  align-items: center;
  color: #F9F8E4;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: calc(((174/var(--screen-size)) * 100) * 1vw);
  line-height: 105px;
  
  width: 100%;
  text-align: justify;
  letter-spacing: calc(((-.48/var(--screen-size)) * 100) * 1vw);
}

.my-name__text {
  width: 100%;
  font-size: calc(((340/var(--screen-size)) * 100) * 1vw);
  margin-bottom: calc(((-30/var(--screen-size)) * 100) * 1vw);
  margin-top: calc(((-33/var(--screen-size)) * 100) * 1vw);
  height: calc(((140/var(--screen-size)) * 100) * 1vw);
  text-align: center;
  white-space: nowrap;
}

.main-body__hobbie-item {
  position: absolute;
  padding: 8px;
  z-index: 10;
}

.hobbie-item__designer {
  left: 16px;
  top: 338px;
}

.hobbie-item__coder {
  right: 16px;
  top: 468px;
}

.hobbie-item__header {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  
  align-items: center;
  letter-spacing: 0.1em;
  
  color: #F9F8E4;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.hobbie-item__descr {
  width: 493px;
  height: 121px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  color: #F9F8E4;
}

.main-footer {
  background-color: #F9F8E4;
  display: flex;
  
  position: absolute;
  
  flex-direction: column;
  justify-content: center;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 60px;
}

.main-footer__marquee {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  margin-right: 5px !important;
}